---
const currentYear = new Date().getFullYear();
---

<footer class="bg-white pt-20">
  <div class="max-w-[1280px] mx-auto">
    <div
      class="grid grid-cols-1 md:grid-cols-[1fr_20%_10%_20%] gap-y-8 md:gap-y-0 gap-x-4 p-5 md:px-40 md:py-14"
    >
      <!-- Brand + newsletter -->
      <div>
        <p class="text-sm font-[500] mb-4">Newsletter</p>
        <p class="text-xs leading-[1.55]">
          Los socios UCM tienen actualizaciones de promociones, servicios y
          eventos exclusivos de UCM. ¡Únete a nuestro Newsletter!
        </p>
        <form class="flex mt-8 w-full" onsubmit="return false;">
          <input
            type="email"
            placeholder="Tu correo electrónico"
            class="px-4 py-2 bg-black/6 border border-none rounded-l-lg text-black/70 text-xs focus:outline-none w-[70%]"
          />
          <button
            type="submit"
            class="py-2 ml-1 bg-black/6 border border-none rounded-r-lg text-sm text-black/70 font-[500] cursor-pointer hover:bg-gold/80 transition-all duration-300 ease-in-out w-[28%]"
            aria-label="Suscribirse"
          >
            Suscríbete
          </button>
        </form>
      </div>

      <!-- Empresa -->
      <div>
        <p class="text-sm font-[500] mb-4 tracking-tight">Compañia</p>
        <ul class="space-y-2 list-none p-0">
          {
            [
              { label: "Términos y Condiciones", href: "/" },
              { label: "Aviso de Privacidad", href: "/" },
            ].map((link) => (
              <li>
                <a
                  href={link.href}
                  class="text-xs text-black/70 hover:text-black/50 transition-colors duration-300 ease-in-out"
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- Social -->
      <div>
        <p class="text-sm font-[500] mb-4 tracking-tight">Social</p>
        <ul class="space-y-2 list-none p-0">
          {
            [
              { label: "Linkedin", href: "#" },
              { label: "Facebook", href: "#" },
              { label: "Instagram", href: "#" },
            ].map((link) => (
              <li>
                <a
                  href={link.href}
                  class="text-xs text-black/70 hover:text-black/50 transition-colors duration-300 ease-in-out"
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- Recursos -->
      <div>
        <p class="text-sm font-[500] mb-4 tracking-tight">Recursos</p>
        <ul class="space-y-2 list-none p-0">
          {
            [
              { label: "Documentación", href: "#" },
              { label: "Contáctanos", href: "#" },
            ].map((link) => (
              <li>
                <a
                  href={link.href}
                  class="text-xs text-black/70 hover:text-black/50 transition-colors duration-300 ease-in-out"
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</footer>
